@model Demo.Models.UserProfile

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout3";
}

<h2>Edit</h2>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="UserModelID" />
            <div class="form-group">
                <label asp-for="UserProfileSummary" class="control-label"></label>
                <input asp-for="UserProfileSummary" class="form-control" />
                <span asp-validation-for="UserProfileSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfileStatusUpdate" class="control-label"></label>
                <input asp-for="UserProfileStatusUpdate" class="form-control" />
                <span asp-validation-for="UserProfileStatusUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="User" asp-action="GoBackHome" asp-route-id="@Model.UserModelID">Home</a>
</div>

