@{
    ViewData["Title"] = "Home Page";
}

<h1>Portal for AXCEX Media Online Management</h1>
<p>
    <b>Employee Portal:</b>
    
        <br/>
        <a asp-controller="Employee" asp-action="RegisterEmployee">Register Employee</a>
        <br/>
        <a asp-controller="Employee" asp-action="EmployeeLogin">Employee SignIn</a>
    
</p>
