@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSlate";
}

<h2>Home Page </h2>
<a asp-controller="User" asp-action="RegisterUser">Register</a>
<br/>
<a asp-controller="User" asp-action="Login">Login</a>