@model Demo.Models.UserModel
@{
    ViewData["Title"] = "User Home";
    Layout = "_Layout2";
}

<h2>User Home</h2>
<br>
<p>@ViewData["Message"] @Html.DisplayFor(model => model.User_Name) !</p>

@if (Model.User_SignIn_Status == true)
{
<!--<p>Signed In: @Html.DisplayFor(model => model.User_SignIn_Status)</p>-->
<p>Signed In: True</p>
}
    else
{
<p>Signed In: False</p>
}