@model Demo.Models.UserModel
@{
    ViewData["Title"] = "User Home";
    Layout = "_Layout2";
}

<h2>User Home</h2>
<br>
<p>Welcome to your Home Page @ViewData["Message"] @Html.DisplayFor(model => model.User_Name)!</p>

@if (Model.User_SignIn_Status == true)
{
<!--<p>Signed In: @Html.DisplayFor(model => model.User_SignIn_Status)</p>-->
<p>You're Signed In</p>
}
    else
{
<p>You're Not Signed In</p>
}
<!--<a asp-area="" asp-controller="UserProfile" asp-action="LinkToProfileFromLayout" asp-route-id= "@Model.ID" >View Profile</a>-->
<a asp-area="" asp-controller="UserProfile" asp-action="LinkToProfileFromLayout" >View Profile</a>

<form asp-controller= "User" asp-action="IndexSearch" >
    
  <input type="text" name="UserName">
    <input type="submit" value="Search"/>
    
</form>