@model NetCoreSocial.Models.UserModel

@{
    ViewData["Title"] = "Home";
}

<h3>Hello @Model.UserName welcome home!</h3>

<p>
    This is your home page where you can connect with people and tell them how you are doing!
</p>
